.main {
    margin-top: 2rem;
    height: 57rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2rem;
    color: white;
}
.box {
    background-color:  #fff;
}
.livereport {
    background-color:  #fff;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

.recoveryoverview {
    background-color:  #fff;
    grid-column: 1 /4;
    grid-row: 5 / -1;
}

.totalcases {
    background-color:  #fff;
    grid-row: 2 / 4;
}

.liveupdate {
    background-color:  #fff;
    grid-row: 4 / -1;
}