.container {
  max-width: 120rem;
  // centering in the view port
  margin: 2rem auto;
  background-color: var(--color-grey-light-2);
  // box-shadow:;
  box-shadow: var(--shadow-dark);

  // min height for testing
  // min-height: 60rem;

}

.content {   
  display: flex;
  min-height: ;
  padding: 2rem;
}